@import 'utility';

header {
  position: fixed;
  top: -10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 58px;
  margin: 0 auto;
  padding: 4px;
  background-color: $theme-color;
  z-index: 1;
}

nav.Mobile {
  display: none;
}

nav.Computer {
  @include display-hor-spaceB;

  margin: auto 5px;
  font-family: 'Raleway';

  a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Raleway';
  }

  a:hover {
    border-bottom: 2px solid white;
  }

  ul {
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
    padding: 5px;
  }

  li {
    margin-right: 8px;
  }
}
@media only screen and (max-width: 500px) {
  aside.menuMobile {
    display: block;
    top: 56px;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    width: 30vw;
    z-index: 1;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
    transition: transform 250ms ease-in-out;
    transform: translateX(5);

    section {
      ul {
        @include reset-list @include display-vert-center;

        font-family: $base-font-family;
        margin-top: 5px;

        a {
          text-decoration: none;
          color: $theme-color;
          border-bottom: thin solid $theme-color;
        }
      }
    }

    &.hidden {
      transform: translateX(100vw);
    }
  }

  nav.Computer {
    display: none;
  }

  nav.Mobile {
    @include display-hor-spaceB;

    height: 8vh;
    margin: auto 10px;

    a,
    img {
      margin-top: 20px;
    }

    .Logo {
      width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    button {
      background-color: inherit;
      border: none;
      color: white;
      font-size: 30px;
      margin-top: 20px;

      &:focus {
        border: none;
        box-shadow: none;
        outline: 0;
      }

      &:hover {
        border: none;
        color: lightgreen;
        cursor: pointer;
      }

      &:active {
        border: none;
        color: lightgreen;
      }
    }
  }
}
