@import 'utility';

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapContainer {
  margin-top: 10px;
  max-height: 66vh;
}
