@import 'utility';

.Landing {
  height: 100vh;
  width: 100vw;

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
    object-fit: cover;
  }

  button {
    margin: 10px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    color: white;
    background-color: white;

    &::after {
      position: absolute;
      transition: 0.3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #f7f7f7;
    }

    &::after {
      left: 0;
      bottom: auto;
      top: -3px;
      width: 100%;
    }
  }
}
