@import 'utility';

.Landing {
  // background-image: url(../images/garlic.gif);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    // min-width: 100%;
    // min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
    object-fit: cover;
  }
}
