@import 'utility';
@import 'header';
@import 'login';
@import 'profile';
@import 'home';
@import 'landing';
@import 'map';
$base-text-size: 16px;
$base-font-family: 'Raleway';

html {
  @include full-height;
}

body {
  background-image: url('https://static.pexels.com/photos/5938/food-salad-healthy-lunch.jpg');
  // background-image: url('https://media.timeout.com/images/101525401/image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  margin: 0;
  color: white;
  // font: $base-text-size / 1 $base-font-family;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input.search {
    background-color: rgba(255, 255, 255, 0.9);
    color: $theme-color;
    border-radius: 8px;
    font-size: 25px;
    // border: 1px solid #ccc;
    padding: 5px;
    height: 10vh;
    width: 70vw;
    max-width: 575px;
    transition: all 0.5s ease;
    outline: none;
  }
}

input::placeholder {
  color: $theme-color;
}

.search:focus {
  width: 90vw;
  outline-color: white 10px;
}
// @media only screen and (max-width: 500px) {
//   .search {
//     border-radius: 5px;
//     font-size: 30px;
//     border: 1px solid #ccc;
//     padding: 5px;
//     height: 10vh;
//     width: 70vw;
//     transition: all 0.5s ease;
//     outline: none;
//   }
//
//   .search:focus {
//     width: 80vw;
//     outline-color: white 10px;
//   }
// }

.App {
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

.App,
.Home {
  min-height: 100%;
}
