@import 'utility';
@import 'header';
@import 'login';
@import 'profile';
@import 'home';
$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  background-image: url('https://media.timeout.com/images/101525401/image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  position: fixed;
  font: $base-text-size / 1 $base-font-family;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .search {
    border-radius: 5px;
    font-size: 30px;
    border: 1px solid #ccc;
    padding: 5px;
    height: 10vh;
    width: 70vw;
    transition: all 0.5s ease;
    outline: none;
  }
}

.search:focus {
  width: 90vw;
  outline-color: white 10px;
}
// @media only screen and (max-width: 500px) {
//   .search {
//     margin-top: 40vh;
//     border-radius: 5px;
//     font-size: 30px;
//     border: 1px solid #ccc;
//     padding: 5px;
//     height: 10vh;
//     width: 70vw;
//     transition: all 0.5s ease;
//     outline: none;
//   }
// }
//
// .search:focus {
//   width: 80vw;
//   outline-color: white 10px;
// }

.App {
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

.App,
.Home {
  min-height: 100%;
}
